extends layout

block content
  h1  EduArdu --- Vision
  section.css-table
    section.two-column
      section.cell
        h2 Design interactive electronic objects having:
        h3 - 3D printed body
        h3 - Open Source electronics
        h3 - Modular firmware, easly mashable
        h3 - Visual interactive Apps to control (phone and tablet)
        h3 - Share and collaborate
      section.cell
        h2 Features
        h2 - Simplicity: a simple and easy task to accomplish
        h2 - Kit: Easy to build
        h2 - Purpose: fun, learning, utilities
        h2 - Visual interactive apps to control (phone and tablet)
        h2 - Share your work
        h2 It's funny as Kinder egg surprise! Like an "Ikea" electronic kit!
        h2 DIY - Do It Yoursef!!
        h2
  section.css-table
    section.three-column
      section.cell
        h3 Etiam lobortis
        p Lorem ipsum dolar sit amet, cons incidunt ut labore et dolore magn trud exercitation ullamcorpor susc vel eum irure dolor in reprehende dolore eu fugiat nulla pariatur.
      section.cell
        h3 Phasellus lacus
        p Lorem ipsum dolar sit amet, cons incidunt ut labore et dolore magn trud exercitation ullamcorpor susc vel eum irure dolor in reprehende dolore eu fugiat nulla pariatur.
      section.cell
        h3 Aliquam vulputate
        p Lorem ipsum dolar sit amet, cons incidunt ut labore et dolore magn trud exercitation ullamcorpor susc vel eum irure dolor in reprehende dolore eu fugiat nulla pariatur.
